html, body {
    background-color: #fff;
    color: #111;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    min-height: 100%;
}
body {
    max-width: 1200px;
    width: 100%;
    min-height: 100%;
}

h1,h2,h3,h4 {
    text-transform: capitalize;
}

body > nav ul {
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    gap: 15px 25px;
    border-bottom: 1px solid lightgray;
}
body > nav a {
    color: black;
    height: 22px;
    text-decoration: none;
    position: relative;
    padding: 0 5px;
    text-align: center;
    display: inline-grid;
}

body > nav a::before {
    content: "";
    background: black;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: middle;
    transition: 300ms ease;
}
body > nav a:hover::before {
    transform: scaleX(1);
    transition: 300ms ease;
}