div.article {
    padding: 0 30px;
    text-indent: 20px;
    text-align: justify;
}
div.article .center {
    text-align: center;
    text-indent: 0;
}

div.article h1,
div.article h2,
div.article h3,
div.article h4 {
    text-indent: 0;
    text-align: start;
}
div.article h3 {
    font-weight: 600;
    margin-bottom: 10px;
}
div.article p {
    margin-top: 5px;
    margin-bottom: 0;
}
div.article p:last-child {
    margin-bottom: 16px;
}
div.article img {
    width: 100%;
    max-width: 400px;
}

div.table-div {
    display: flex;
    justify-content: center;
    gap: 20px 50px;
    flex-wrap: wrap;
}


table.chess-table {
    border-collapse: collapse;
    display: inline-table;
}
table.chess-table td {
    width: 22px;
    height: 22px;
    text-align: center;
}
table.chess-table tbody td:not(*:first-child) {
    border: 1px solid #222;
}
table.chess-table td.chess-table-black {
    background-color: #222;
    color: white;
}


table.minesweeper-table {
    border-collapse: collapse;
    display: inline-table;
}
table.minesweeper-table td {
    width: 22px;
    height: 22px;
    text-align: center;
    border: 1px solid #222;
}


table.forest-table {
    border-collapse: collapse;
    display: inline-table;
    border: 1px solid #222;
    background-color: green;
}
table.forest-table td {
    width: 7px;
    height: 7px;
}
table.forest-table td.procCell {
    background-color: #ffff00;
}
table.forest-table td.pathCell {
    background-color: greenyellow;
}
table.forest-table td.playerCell {
    background-color: red;
}
table.forest-table tr:nth-child(even) td:nth-child(even),
table.forest-table tr:nth-child(odd) td:nth-child(odd) {
    box-shadow: inset 20px 20px #00000015;
}


table.drunken-table {
    border-collapse: collapse;
    display: inline-table;
    box-shadow:  1px  1px #000,
                -1px -1px #000,
                 1px -1px #000,
                -1px  1px #000;
    width: 270px;
    height: 270px;
}
table.drunken-table td {
    text-align: center;
    background-color: #000000;
}
table.drunken-table td.pathCell {
    background-color: #ffffff;
}
table.drunken-table td.drunkenCell {
    background-color: red;
}
table.drunken-table tr:nth-child(even) td:nth-child(even),
table.drunken-table tr:nth-child(odd) td:nth-child(odd) {
    box-shadow: inset 20px 20px #77777722;
}

table.cellular-table {
    border-collapse: collapse;
    display: inline-table;
    box-shadow:  1px  1px #000,
                -1px -1px #000,
                 1px -1px #000,
                -1px  1px #000;
    width: 270px;
    height: 270px;
}
table.cellular-table td {
    background-color: #000000;
}
table.cellular-table td.cellOne {
    background-color: #fff;
}
table.cellular-table td.cellTwo {
    background-color: #999;
}
table.cellular-table td.cellThree {
    background-color: #555;
}

table.perlin-table {
    border-collapse: collapse;
    display: inline-table;
    box-shadow:  1px  1px #000,
                -1px -1px #000,
                 1px -1px #000,
                -1px  1px #000;
    width: 270px;
    height: 270px;
}